<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.cycle.mapper.CycleRuleMapper">
    <resultMap type="com.hospital.cycle.domain.vo.CycleRuleVo" id="cycleRuleResult">
        <id property="ruleId" column="rule_id"/>
    </resultMap>
    <select id="queryUserRuleWithStage" resultMap="cycleRuleResult">
        select *
        from cycle_rule cr
                 left join cycle_student cys on cr.rule_id = cys.rule_id
        where user_id = #{userId}
    </select>


</mapper>
