<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.attendance.mapper.AttendanceManagementUserMapper">
    <select id="listByGroupId" parameterType="com.demo.hospital.attendance.model.vo.attendUser.AttendanceMUserReqVO"
            resultType="com.demo.hospital.attendance.model.vo.attendUser.AttendanceMUserRespVO">
        SELECT
            u.user_id AS userId,
            u.user_name AS userName,
            u.gender AS gender,
            u.phone AS phone,
            IFNULL(GROUP_CONCAT(DISTINCT ura.role_code SEPARATOR ','), 'staff') AS roleCodes,
            IFNULL(GROUP_CONCAT(DISTINCT IFNULL(r.role_name, '员工') SEPARATOR ','), '员工') AS roleNames
        FROM
            attendance_management_user amu
                LEFT JOIN users u ON amu.user_id = u.user_id
                LEFT JOIN user_role_apply ura ON amu.user_id = ura.user_id
                LEFT JOIN role r ON ura.role_code = r.role_code
        <where>
             amu.group_id = #{groupId}
            <if test="userName != null and userName != ''">
                AND u.user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND u.phone = #{phone}
            </if>
            <if test="gender != null and gender !=''">
                AND u.gender = #{gender}
            </if>
            <if test="roleCode != null and roleCode != ''">
                AND r.role_code = #{roleCode}
            </if>
        </where>
        GROUP BY
        u.user_id
    </select>


    <select id="listAllStaffByHosId" parameterType="com.demo.hospital.attendance.model.vo.attendUser.AttendanceMUserReqVO"
            resultType="com.demo.hospital.attendance.model.vo.attendUser.AttendanceMUserRespVO">
        SELECT
        u.user_id AS userId,
        u.user_name AS userName,
        u.gender AS gender,
        u.phone AS phone,
        IFNULL(GROUP_CONCAT(DISTINCT ura.role_code SEPARATOR ','), 'staff') AS roleCodes,
        IFNULL(GROUP_CONCAT(DISTINCT IFNULL(r.role_name, '员工') SEPARATOR ','), '员工') AS roleNames
        FROM
        users u
        LEFT JOIN user_role_apply ura ON u.user_id = ura.user_id
        LEFT JOIN role r ON ura.role_code = r.role_code
        <where>
            u.role_code != 'student'
            AND u.hos_id = #{hosId}
            AND u.is_abandon = '1'
            AND u.is_delete = '1'
            <if test="userName != null and userName != ''">
                AND u.user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND u.phone = #{phone}
            </if>
            <if test="gender != null and gender !=''">
                AND u.gender = #{gender}
            </if>
            <if test="roleCode != null and roleCode !=''">
                AND ura.role_code = #{roleCode}
            </if>
        </where>
        GROUP BY
        u.user_id
    </select>
</mapper>
